:root {
  --font-family_main: Bauhas, "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;

  --error-color: #f21515;
}

@font-face {
  font-family: Bauhas;
  font-style: normal;
  src:
          url("/src/assets/fonts/Bauhas.ttf")
          format("truetype-variations"),
          url("/src/assets/fonts/Bauhas.ttf") format("truetype");
}

@font-face {
  font-family: Stengazeta;
  font-style: normal;
  src:
          url("/src/assets/fonts/Stengazeta.ttf")
          format("truetype-variations"),
          url("/src/assets/fonts/Stengazeta.ttf") format("truetype");
}
