:root {
  --font-family_main: Stengazeta, "Times New Roman", serif;
  --font-size-m: 16px;
  --font-line-m: 24px;
  --font-size-l: 24px;
  --font-line-l: 32px;

  // Размеры
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
}

@font-face {
  font-family: Stengazeta;
  font-style: normal;
  src:
          url("/src/assets/fonts/Stengazeta-Regular_5.ttf")
          format("truetype-variations"),
          url("/src/assets/fonts/Stengazeta-Regular_5.ttf") format("truetype");
}
