.form {
  width: 100%;
}

.button {
  margin-top: 20px;
}

.already {
  margin: 0;
  border: none;
  cursor: pointer;
  background: none;
  padding: 0;
  align-self: end;
  color: var(--primary-color);
}