@import "../../app/styles/mixins";

.panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 30px;
  box-sizing: border-box;

  @include tablet {
    flex-direction: column;
    gap: 10px;
  }
}