@import "../../../../../app/styles/mixins";

.header {
  display: grid;
  grid-template-columns: 2fr 0.5fr 2fr 4fr 2fr 1fr 1fr 1fr 1fr;
  gap: 5px;
  padding: 10px 0;
  margin: 20px 0;
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  color: var(--inverted-primary-color);
  background-color: var(--inverted-bg-color);
  border-radius: 20px;

  @include laptop {
    grid-template-columns: 2fr 0.5fr 2fr 3fr 1fr;
  }

  @include tablet {
    grid-template-columns: 2fr 3fr 1fr;
  }

  @include mobile {
    grid-template-columns: 1fr 2fr;
  }
}

.centerTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.leftTitle {
  display: flex;
  align-items: center;
}
.leftTitleWithPadding {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
