.sticker {
    color: #373A36;
    font-family: Stengazeta, sans-serif;
    font-size: var(--font-line-m);
    line-height: var(--font-line-m);
    height: 220px;
    width: 220px;
    margin: 20px auto 45px;
    padding: 10px;
    transition: transform 0.5s;
    cursor: pointer;
    -moz-box-shadow:5px 5px 7px var(--inverted-bg-color);
    -webkit-box-shadow: 5px 5px 7px var(--inverted-bg-color);
    box-shadow: 5px 5px 7px var(--inverted-bg-color);
    -moz-transition: -moz-transform .15s linear;
    -o-transition: -o-transform .15s linear;
    -webkit-transition:-webkit-transform .15s linear;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        -moz-box-shadow:10px 10px 7px var(--inverted-bg-color);
        -webkit-box-shadow: 10px 10px 7px var(--inverted-bg-color);
        box-shadow:10px 10px 7px var(--inverted-bg-color);
        -webkit-transform: rotate(0) scale(1.2);
        -moz-transform: rotate(0) scale(1.2);
        -o-transform: rotate(0) scale(1.2);
        position:relative;
    }
}

.invisible {
    opacity: 0;
}