.wordInfo {
  width: 500px;
  height: 500px;
  background: yellow;
  z-index: 999;
  color: #373a36;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.word {
  font-size: var(--font-size-xxl);
  line-height: var(--font-line-xxl);
  font-family: Stengazeta, sans-serif;
  margin: 0;
  padding: 0;
}

.transcription {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  margin: 0;
  padding: 0;
}

.translation {
  font-size: var(--font-size-xl);
  line-height: var(--font-line-xl);
  padding: 0;
  margin: 20px 0;
  text-align: center;
}

.audioContainer {
  height: 70px;
}

.audioIcon {
  height: 70px;
}

.noAudioIcon {
  height: 70px;
  opacity: 0.2;
}

.yellow {
  background: #ff9;
}

.green {
  background: #cfc;
}

.violet {
  background: #ccf;
}

.footer {
  margin-top: auto;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.errorWrapper {
  height: 20px;
  width: 100%;
  margin-top: 10px;
}

.error {
  color: var(--error-color);
}
