.input {
  padding: 12px;
  margin: 0 0 28px;
  width: 100%;
  height: 48px;
  border-radius: 20px;
  border: 1px solid var(--primary-color);
  background: var(--inverted-primary-color);
  color: var(--primary-color);
  cursor: pointer;
  box-sizing: border-box;
  caret-color: var(--primary-color);


  &:focus {
    outline: 1px solid var(--secondary-color);
    border-color: transparent;
  }
}

.inputError {
  outline: 1px solid var(--error-color);
  border-color: transparent;
  margin-bottom: 4px;

  &:focus {
    outline: 1px solid var(--error-color);
    border-color: transparent;
  }
}

.errorMessage {
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
  color: var(--error-color);
}

.disabled {
  background-color: #e0e5e8;
  pointer-events: none;
}

.inputWrapper {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
