@import "normalize/normalize/import-now";
@import "variables/global";
@import "themes/light";
@import "themes/dark";
@import "mixins";

.app {
  font-family: var(--font-family_main);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  min-width: 100vw;
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: center;
  padding: 10px 20px 0;
  box-sizing: border-box;

  @include mobile {
    padding: 0;
  }
}

.isLoader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portal {
  color: var(--primary-color);
  font-family: var(--font-family_main);
}

.portal .react-colorful {
  width: 100%;
}
