.app.dark, .portal.dark {
  --bg-color: #1a1818;
  --inverted-bg-color: #D3D3D3;
  --primary-color: #fcfafa;
  --inverted-primary-color: #1a1818;
  --bg-secondary-color: #4169E1;
  --secondary-color: #4169E1;
  --input-bg: #C0C0C0;
}
