.app.light, .portal.light {
  --bg-color: #E6E2DD;
  --inverted-bg-color: #373A36;
  --bg-secondary-color: #4169E1;
  --primary-color: #373A36;
  --secondary-color: #4169E1;
  --inverted-primary-color: #E6E2DD;
  --input-bg: #C0C0C0;

  $primary-color: #373A36;
}
