<p>Привет, <span style="font-weight: 900">{{ username }}!</span></p>
<p>Ваш аккаунт создан.</p>
<p>Для его активации, пожалуйста, введите следующий код на странице активации:</p>
<p>{{code}}</p>

<p>Данный код действителен в течении 1 суток. Если вы не активируете ваш аккаунт в течение этого времени, он будет удален.</p>
