<p>Привет, <span style="font-weight: 900">{{ username }}!</span></p>
<p>Поступил запрос на смену пароля для вашего акканута.</p>
<p>Для установки нового пароля, пожалуйста, введите следующий код на странице смены пароля:</p>
<p>{{code}}</p>

<p>Данный код действителен в течении 1 суток или до поступления нового запроса.</p>
