@import "../../../../../app/styles/mixins";

.message {
  margin: 20px 0;
  padding: 0;
  font-size: var(--font-size-xxl);
  line-height: var(--font-line-xxl);
  width: 100%;
  text-align: center;

  @include mobile {
    font-size: var(--font-size-l);
    line-height: var(--font-line-l);
  }
}